

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*blue: #406C7D*/


.navbar-default {
	padding:20px 0;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
}

.wrapper {
	min-height: calc(100vh - 78px - 60px);
	margin-top: 78px;
}

/* Rectangle: */
.ticker-holder {
	height:77px;
	padding:5px;
	padding-left:15px;
	margin:0;
	background: rgba(215,215,215,0.50);
	font-family: Calibri-Bold;
	font-size: 22px;
	color: #406C7D;
}

.ticker {
	max-width:650px;
	margin:auto;
}

.ticker-main {
	margin:0;
}

.ticker-sub {
	font-family: Calibri;
	font-size: 12px;
	color: #5C5D5D;
	margin:0;
}


.headline-holder {
	margin:20px;
}


.headline {
	font-family: Calibri;
	font-size: 36px;
	color: #406C7D;
	line-height: 42px;
	font-weight: 300
}

.page-step-text {
	font-size: 12px;
	color: #5C5D5D;
}


.userform	{
	margin-top:30px;
	width:100%;
	padding:10px;
	padding-bottom: 45px;
	max-width:400px;
	margin:auto;

}

.userform .form-control {
	text-align:center;
	height:45px;
	max-width:300px;
	margin:auto;
}

.btn-submit {
	width:100%;
	margin:auto;
	max-width:300px;
	height:60px;
	color:white;
	background: #F2642C;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 5px;
	font-size:1.5em;
	font-weight:300;
}


.bus-account-holder {
	/*padding-bottom:45px;*/
}



.business-account {
	background: #FFFFFF;
	width:250px;
	height:60px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 5px 5px 5px 0px 5px;
	/* Create Business Acco: */
	font-family: Calibri;
	font-size: 22px;
	color: #656565;
	font-size:1.2em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EEF2F3;
}

.footer p {
	line-height: 60px;
	margin:0;
}


.footer a {
	font-weight: 700
}


.form-col {
	border-left: 1px solid lightgrey;
	margin-bottom:35px;
}


.form2 {
	max-width: 400px;
	color: #406C7D;
}

.form-text {
	color:#406C7D;
	font-weight:400;
}

.form-spacer {
	height:40px;
}

.page2-row {
	max-width: 750px;
	margin: 30px auto;
}

#completion {
	max-width:70px;
	/*margin:auto;*/
	font-weight: 400;
	color:limegreen;
	font-size:1.3em;
}

#completion span {
	font-size:1.5em;
}

.affix {
  top:100px;
  /*margin-left:24px;*/
  transition: all 1s ease;
}

.affix-top {

}

.affix-bottom {

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
	  background: url('../img/people.jpg')
	}

	.footer {
		background-color: white
	}

	.userform {
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    border-radius: 5px;
	}


	.page2-row {
    background: white;
    border-radius: 5px;
		padding: 35px;
	}


}












